<!---Where posts will render---->
<div class="container">
   {{#each postData}}
  <div class="box">
 <div class="content">
   <h3 class="title is-3 has-text-centered">{{title}}</h3>
   <p class="has-text-centered is-italic">{{user.username}}</p>
   <div class="block has-text-centered">
     {{body}}
</div>
 </div>
 <div class="content link">
     <a id="readLink"href="/post/{{id}}">
           Read More
          </a>
 </div>
</div>
 {{/each}}
</div>